<div class="pets-index-container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Pets</h3>
    <%= link_to "New Pet", new_pet_path,
    class: "btn-new-pet" %>
  </div>

  <div class="map-card">

    <div class="pets-index">
      <% @pets.each do |pet| %>
        <div class="list-group-item">
          <%= render '/pets/pet', pet: pet %>
        </div>
      <% end %>
    </div>

    <div class="map" style="width: 100%; height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
</div>
