<div class="container">
  <div class="container py-5">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h3 class="mb-0">Pets</h3>
      <%= link_to "New Pet", new_pet_path,
      class: "btn-new-pet" %>
    </div>

    <div class="pets-card">

      <div class="pets-index">
        <div class="list-group-item">
          <% @my_pets.each do |pet| %>
            <%if pet.status != "adopted" %>
                <%= render '/pets/pet', pet: pet %>
                <div>
                <% pet.adoptors.each do |adoptor| %>
                  <p>This pet was requested by <%= adoptor.first_name%></p>
                  <%= link_to 'Confirm adoption', adoption_confirmed_path(pet), method: :patch, data: { confirm: "Give this pet a new home?" }, class: "btn btn-primary" %>
                <% end %>
                </div>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
