</div>
<div class="banner-wrapper mb-4">
  <div class="banner">
    <div class="banner-container">
      <h1>Adopt.Me</h1>
      <h2>Connecting pets and people.</h2>
    </div>
  </div>
</div>

<div class="container">

  <div class="row justify-content-center justify-content-md-start">
    <div class="col-lg-4 col-md-6 col-xs-12 col-sm-10">
      <div class="services-item text-center">
        <div class="icon">
          <i class=""></i>
        </div>
        <h4>Lorem Ipsum</h4>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
      </div>
    </div>


    <div class="col-lg-4 col-md-6 col-xs-12 col-sm-10">
      <div class="services-item text-center">
        <div class="icon">
          <i class=""></i>
        </div>
        <h4>Lorem Ipsum</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
      </div>
    </div>


    <div class="col-lg-4 col-md-6 col-xs-12 col-sm-10">
      <div class="services-item text-center">
        <div class="icon">
          <i class=""></i>
        </div>
        <h4>Lorem Ipsum</h4>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="search_input text-center mb-4">
  <h4>Search a location near you!</h4>
  <div class="search-box">
    <%= form_tag(pets_path, method: "get") do %>
    <%= text_field_tag :query, nil, placeholder: "Type a Location...", class: "form-control mb-4" %>
    <%= submit_tag "Search",
    class: "btn-search" %>
    <% end %>
  </div>
</div>
