</div>
<div class="banner-wrapper mb-4">
  <div class="banner">
    <div class="banner-container">
      <h1>Adopt.Me</h1>
      <h2>Connecting pets and people.</h2>
    </div>
  </div>
</div>

<div class="search_input text-center mb-4">
  <div class="search_box">
    <%= form_tag(pets_path, method: "get") do %>
    <%= text_field_tag :query, nil, placeholder: "Type a Location...", class: "form-control mb-4" %>
    <%= submit_tag "Search",
    class: "btn-search" %>
    <% end %>
  </div>
</div>
