</div>
<div class="banner-wrapper">
  <div class="banner">
    <div class="banner-container">
      <h1>Adopt.Me</h1>
      <h2>Connecting pets and people.</h2>
    </div>
  </div>
</div>
<div class="search_input text-center my-5">
  <div class="search_box">
  <input type="text" placeholder="Search...">
  </div>
</div>
<div class="button text-center my-1">
  <p>Isso aqui vai ser um botão.</p>
</div>
